@import "tailwindcss";

@font-face {
    font-family: 'Lexend';
    src: url('./assets/font/Lexend-Medium.woff2') format('woff2'),
        url('./assets/font/Lexend-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('./assets/font/Lexend-Black.woff2') format('woff2'),
        url('./assets/font/Lexend-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('./assets/font/Lexend-Bold.woff2') format('woff2'),
        url('./assets/font/Lexend-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('./assets/font/Lexend-Light.woff2') format('woff2'),
        url('./assets/font/Lexend-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('./assets/font/Lexend-Regular.woff2') format('woff2'),
        url('./assets/font/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Lexend', Helvetica, arial, sans-serif;
}
